@import './var';

.infobar {
    padding: 18px 6px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 1rem;

    &__speed {
        font-weight: bold;
        margin-bottom: 8px;
    }

    &__latency,
    &__way {
        color: #888888;
    }

    &__latency {
        margin-bottom: 6px;
    }

    &__way {
        font-size: .8rem;
    }

    @at-root .theme__dark & {
        background-color: #424242;
        color: #f0f0f0;

        &__latency,
        &__way {
            color: #aaaaaa;
        }
    }
}
