@import 'scss/reset';
@import 'scss/var';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: $fontStack;
    font-size: $fontBaseSize;

    @media screen and (prefers-color-scheme: dark) {
        background-color: #000000;
    }
}

body {
    display: flex;
    flex-flow: column nowrap;
}

@import 'scss/map';
@import 'scss/infobar';
